
/*  this is the container fo the h1 */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  /*  this is the heading  */

  .heading {
    display: grid;
    place-items: center;
  }
  
  /*  h1 css  */
  h1 {
    border-radius: 10px;
  }
  